body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #3498db;
}

p {
  color: #555;
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.city-box {
  display: flex;
  flex-wrap: wrap;
}

.city {
  flex: 0 0 48%;
  margin: 1%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.city img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.city .city-name {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
