// Colors
$background-color: #f3edc8;
$primary-color: #b80000; // Blue
$secondary-color: #ff8f8f; // Yellow
$accent-color: #5f8670; // Blue
$text-color: #ead196; // Dark gray
$dark-gray: #555555; // A slightly darker gray
$hover-color: #f3edc8; // Darker blue on hover
$highlight-color: #ff9800; // Red
